
<div class="well">
    @Html.ActionLink(linkText: "Ir al ejercicio 1", actionName: "Ejercicio1", controllerName: "Empresa", routeValues: new { id = 5 }, htmlAttributes: null)
</div>
<div class="well">
    @Html.ActionLink(linkText: "Ir al ejercicio 2", actionName: "Ejercicio2", controllerName: "Empresa", routeValues: new { id = 5 }, htmlAttributes: null)
</div>
